.second-section {
    background-color: $offwhite;
}
.experiencias-container {
    width: 90%;
    margin: -60px auto;
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/Agavecenefa.svg');
    background-position: center;
    background-size: 150px;
    background-repeat: repeat;
    background-origin: content-box;
    top: -50px;
    width: 100%;
}
.experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-end: 84px;
    width: 100%;
    height: fit-content;
    &__image {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        margin-block-end: 18px;
        box-shadow:  5px 5px 8px $taupe-gray,
        -5px -5px 8px $taupe-gray;
    }
    &__title {
        color: $darkgreen;
    }
}