$dodger-blue: #389DFF;
$olive: #6F732F;
$taupe-gray: #80727B;
$offwhite: #FCEFEF;
$darkgreen: #16302B;
$main-font: 'EB Garamond', serif;
$secondary-font: 'Great Vibes', cursive;
@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
	line-height: calculateRem($size)*1.5;
}
@function calculateRem($size) {
	$remsize:calc($size / 16px);
	@return $remsize * 1rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: $main-font;
}