main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../images/agavesSmall.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 10px 24px 0 24px;
}
.hero-logo {
    width: 80px;
    &_image {
        width: 100%;
    }
}
.hero-nav {
    display: none;
}
.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    &__title {
        display: inline-block;
        width: 100%;
        padding: 24px;
        text-align: center;
        font-family: $secondary-font;
        color: $offwhite;
        @include font-size(36px)
    }
}