* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px 24px 0 24px;
}

.header-logo {
  width: 80px;
}
.header-logo_image {
  width: 100%;
}

.header-nav {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/agavesSmall.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px 24px 0 24px;
}

.hero-logo {
  width: 80px;
}
.hero-logo_image {
  width: 100%;
}

.hero-nav {
  display: none;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero-info__title {
  display: inline-block;
  width: 100%;
  padding: 24px;
  text-align: center;
  font-family: "Great Vibes", cursive;
  color: #FCEFEF;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 3.375rem;
}

/* Media Queries Mixin
**********************/